*{
    margin: 0;
    padding: 0;
    font-family: kode mono;
    text-align: center;
    text-decoration: none;
}

a i:hover{
    color: #233a71~;
}
a{color: ghostwhite;}
p{text-align: center;
@media(min-width:800px){text-align: right;}}

li{list-style-type: none;}

body{
    background: linear-gradient(#233a71,#e47bee);background-repeat: no-repeat;
    color: ghostwhite;
    font-size: 1.25rem;
}

nav{
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 1rem;
}

.logo{
    font-size: 3rem;   
}

.menu-icon{
    font-size: 3rem;
    margin-left: auto;

    @media(min-width:800px){
        display: none;
    }
}

.active-sidebar{
    font-size: 3rem;
    margin-left: auto;
    display: none;
}

.sidebar{
    display: none;
    flex-direction: column;
    list-style-type: none;
    font-size: 2rem;
    background: #5d3693a9;
    backdrop-filter: blur(20px);
    border-radius: 1rem;
z-index: 999;
    position: fixed;
    top: 4.5rem;
    right: 0;
    left: 30%;
    padding: 1.7rem 0;
    line-height: 200%;
}

.desktop-navbar{
    display: none;
    margin-left: auto;
    font-size:1.5rem;

    @media(min-width:800px){
        display: flex;
    }
}

.desktop-navbar button{
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1.625rem;
    transition: ease-in-out 0.1s;
a{
    transition: ease-in-out 0.1s;

}
}

.desktop-navbar button a:hover{
    color:#e47bee;
}

.contact{
    border: solid ghostwhite;
    display: none;
    background: none;
    color: ghostwhite;
    margin-left:auto;
    font-size: 2rem;
    border-radius: 1rem;
    font-weight: bold;
    padding: 3.5px 10px;
    @media(min-width:800px){
    display: inline;

    transition: ease-in-out 0.1s;

}
}

.contact-menu{
    display: none;
    gap: 1rem;
    font-size: 2rem;
    background: #64577d;
    border-radius: 1rem;
    padding: 0.5rem;
    z-index: 999;
    
    position: fixed;
    top: 4.8rem;
    right: 30px;
    /* left: 0; */
}


.active-contact{
    border: solid #f397ff;
    color: #f397ff;
    display: none;
    background: none;
    margin-left:auto;
    font-size: 2rem;
    border-radius: 1rem;
    font-weight: bold;
    padding: 3.5px 10px;
    @media(min-width:800px){
    display: none;}
}

.contact a:hover{
    color: #e47bee;
}

.contact:hover{
    border: solid #e47bee;
    color: #e47bee;
}

.wave-img{
    clip-path: circle();
    width:60vw;
    margin: auto;
    margin-right: 1rem;

    @media (min-width:800px) {
        width:30vw;
    }
}

.main-box{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1.5rem;
    @media (min-width:800px) {
        grid-template-columns: auto 1fr;
    }
}

.main-box i{
    font-size: 2.5rem;
    margin: 0.5rem;
}