*{
    padding: 0;
    margin: 0;
    font-family: kode mono;
}

h1{
    font-size: 3rem;
    text-align: center;
}

body{
    background:#F6F2FF ;
    color: #414141;
    font-size:16px;
    /* padding: 10px; */
}

nav{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    ul{display: flex;}
    ul li{list-style-type: none;}
    ul li a{text-decoration: none; color: #414141;}
}

.header{
    display: flex;
    width:100vw;
    flex-direction: row;
    align-items: center;
    font-size:3rem;
}

.highlight{
    color: #8400ff;
}
.contact{
    background: #8400ff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    a{color:#F6F2FF}
}

.menu-icon{
    margin-left: auto;
    display: inline;

    @media(min-width:800px){
        display:none;
    }
}

.active-icon{
    color: #8400ff;
    display: none;
    margin-left: auto;
}

.sidebar{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 80%;
    position: fixed;
    z-index: 999;
    top: 5rem;
    right:0;
    left: 5.5rem;
    background: #DCCCFF;

    li{margin: 1.5rem;
    width:80%;
        }
}

.desktop-navbar{
    align-items: center;
    display: none;
    @media(min-width:800px){
        display:flex;
    }
    
    li{margin: 0 1.5rem;}
}

#hero{

}

.hero-box{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;

    @media(min-width:800px){
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

.hero-img{
    width:65vw;
    margin-top: 2rem;
    clip-path: circle();

    @media(min-width:800px){
        width:22rem;
    }

}

.socials{
    display: flex;
    justify-content: center;
    a{color:#414141;}
    i{font-size:3rem; margin: 1rem;}
}


#work{
    margin-top: 3rem;
    background: #947be0;
    color: #F6F2FF;
}

.work-box{
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    div{background: #6a50a3;font-size:1.5rem;border-radius: 1rem; }

    @media(min-width:800px){
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.work-item{
    padding: 10px;
    i{font-size:3rem;}
}

.art-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    
    
}
.art-box div img{
        width:10rem; 
        
    }
    .art-box div{
        border-radius:0.5rem;
    
        @media(min-width:800px){
            width:10rem;
            gap:0;
        }
        
}

.animation-box{
    columns: 2 80px;
    column-gap: 8px;
    div video{width:130px; border-radius: 0.5rem;}
}

.web-box{
    display:flex;
    flex-direction: column;
    img{width:200px; border-radius: 0.5rem;}
}

#contact{
    text-align: center;
}

.contact-box{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(min-width:800px){
        font-size: 1.5rem;

    }


    img{
        width:40vw;
        clip-path: circle();
        }
}

.socials2{
    display: flex;
    justify-content: center;
    a i{margin: 1rem; color: #414141;}
    text-wrap: wrap;
    font-size:2rem;
}